h1 {
  font-size: 3rem;
}

.singinIcon {
}

.signInMain {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputSigninContainer {
  width: 40%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputElements {
  width: 50%;
  margin: 1% 0;
}

#inpuelemBottom {
  margin-bottom: 5%;
}

.loginBtn {
  margin-bottom: 5%;
}
