.main {
  height: 93vh;
}

.threeContainer {
  position: relative;
  z-index: 1;
}

.AI {
  width: 200px;
  color: aliceblue;
  position: absolute;
  bottom: 5%;
  right: 2%;
  z-index: 2;
}

.chatAIBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(62, 165, 255);
  border-radius: 10px;
}

.chatAIBtn h3 {
  text-shadow: -1px -1px 0 rgb(0, 104, 195), 1px -1px 0 rgb(0, 104, 195),
    -1px 1px 0 rgb(0, 104, 195), 1px 1px 0 rgb(0, 104, 195);
}

.popupContainer {
  position: fixed;
  top: 45%;
  right: -100%; /* 初期位置を画面外に設定 */
  transform: translateY(-50%);
  width: 15%;
  height: 60%;
  background-color: white;
  padding: 20px;
  margin-right: 1%;
  border: 2px solid black;
  border-radius: 10px;
  transition: right 0.5s ease; /* アニメーションを設定 */
  z-index: 3;
}

.popupContainer.active {
  right: 0; /* activeクラスが追加されたときに右から画面内に移動 */
}
