.main {
  height: 93vh;
}

.threeContainer {
  position: relative;
  z-index: 1;
}

.AI {
  width: 200px;
  color: aliceblue;
  position: absolute;
  bottom: 5%;
  right: 2%;
  z-index: 2;
  width: 13%;
}

.chatAIBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: rgb(62, 165, 255);
  border-radius: 10px;
}

.chatAIBtn h3 {
  text-shadow: -1px -1px 0 rgb(0, 104, 195), 1px -1px 0 rgb(0, 104, 195),
    -1px 1px 0 rgb(0, 104, 195), 1px 1px 0 rgb(0, 104, 195);
}

.popupContainer {
  position: fixed;
  top: 45%;
  right: -100%; /* 初期位置を画面外に設定 */
  transform: translateY(-50%);
  width: 15%;
  height: 60%;
  background-color: white;
  padding: 20px;
  margin-right: 1%;
  border: 2px solid black;
  border-radius: 10px;
  transition: right 0.5s ease; /* アニメーションを設定 */
  z-index: 3;
}
.popupContainer h3 {
  display: flex;
  justify-content: center;
}

.popupContainer.active {
  right: 0; /* activeクラスが追加されたときに右から画面内に移動 */
}

.geminiContaienr {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.inputTextContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.isClicledChatBtn {
  background-color: rgb(160, 211, 255);
}

/* 表示情報入力1 */
#beforeInputInfo {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(160, 211, 255);
}

/* 表示情報入力2 */
.isInputInfo {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(160, 211, 255);
  animation: fadeout 6s;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* メイン画面の表示 */
.InputedInfoScreen {
  animation: fadein 4s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.chat {
  position: fixed;
  top: 75%;
  width: 20%;
  height: 5%;
  background-color: white;
  padding: 20px;
  margin-left: 3%;
  border: 2px solid black;
  border-radius: 10px;
  transition: right 0.5s ease; /* アニメーションを設定 */
  z-index: 3;
}